<div class="app-title">
    <div>
        <h1><i class="fa fa-users"></i> Gestion de usuarios</h1>
        <p>Modulo para la gestion de usuarios</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Usuarios</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>Nombre de usuario</th>
                            <th>Correo</th>
                            <th>Tipo</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>
                                <div style="display: flex; justify-content: left;">
                                    <a href="#deleteUsuario" class="btn btn-danger btn-sm" data-toggle="modal"><span class="fa fa-trash"></span>Borrar</a><br>
                                    <a href="#updateUsuario" class="btn btn-primary btn-sm" data-toggle="modal"><span
                                            class="fa fa-pencil"></span>Actualizar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>