<!DOCTYPE html>
<html lang="en">

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" routerLink="home">Hotel RIU</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
            aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!-- User Menu-->
            <li><a class="app-nav__item" href="#" (click)="logout()"
                    aria-label="Open Profile Menu"><i class="fa fa-power-off fa-lg"></i></a>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar">
            <div>
                <p class="app-sidebar__user-name">Usuario</p>
                <p class="app-sidebar__user-designation">correo</p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item" routerLink="home"><i class="app-menu__icon fa fa-dashboard"></i><span
                        class="app-menu__label">Panel</span></a></li>
            <li><a class="app-menu__item" routerLink="usuarios"><i class="app-menu__icon fa fa-users"></i><span
                        class="app-menu__label">Usuarios</span></a></li>
            <li><a class="app-menu__item" routerLink=""><i class="app-menu__icon fa fa-bath"></i><span
                    class="app-menu__label">Habitaciones</span></a></li>
            <li><a class="app-menu__item" routerLink=""><i class="app-menu__icon fa fa-money"></i><span
                    class="app-menu__label">Reportes</span></a></li>
            <li><a class="app-menu__item" routerLink=""><i class="app-menu__icon fa fa-calendar"></i><span
                        class="app-menu__label">Calendario</span></a></li>
            <li><a class="app-menu__item" routerLink=""><i class="app-menu__icon fa fa-comments"></i><span
                        class="app-menu__label">Contacto</span></a></li>
        </ul>
    </aside>
    <!-- Contenido del componente -->
    <main class="app-content">
       <router-outlet></router-outlet>
    </main>
    <!-- //Contenido del componente -->
</body>
</html>